.Diagram{
    padding-top: 20px;
    display: flex;
    height: 35px;
    width: 100%;
    font-size: 12px;
    color: #fff;
}
.Diagram div{
    border: 1px solid #3d737c;
    padding: 10px 0;
    text-align: center;
}

.Diagram .Entertainment{
    background: #a91d12;
}
.Diagram .Car{
    background: #00007f;
}
.Diagram .Food{
    background: #005d00;
}